
/* Udfyld stylesheet  */
footer p, header p, header h1{
    margin: 0px;
}


header{
    background-color: white;
    width: 950px;
    padding: 10px;
    margin-top: 10px;
    height: 50px;
}

#logoImg{
    float: left;
}

body{
    background-color: lightgrey;
    width: 960px;
    margin: 0 auto;
}

nav.index{
    
    text-align: left;
    background-color: white;
    margin: 5px, 5px;
}

li.index{
    display: inline;
    background-color: white;
    margin-right: 20px;

}

main{
    width: 610px;
    padding: 10px;
    float: left;
    background-color: white;
}


article{
    width: 280px;
    margin: 10px;
    float: left;
    background-color: white;
}

aside{
    width: 300px;
    padding: 10px;
    float: right;
    background-color: white;
    
}

footer{
    background-color: white;
    float: left;
    text-align: center;
    width: 960px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}